body {
    font-family: Arial;
}

.coupon {
    border: 5px dotted #bbb;
    width: 95%;
    border-radius: 15px;
    margin: 0 auto;
}

.container {
    padding: 2px 16px;
    background-color: #f1f1f1;
    border-radius: 15px;
    width:100% !important;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: black;
}